<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <package name="com.myproject.doseoro.domain.identity.dto"/>
        <package name="com.myproject.doseoro.domain.identity.vo"/>
        <package name="com.myproject.doseoro.domain.book.dto"/>
        <package name="com.myproject.doseoro.domain.book.vo"/>
    </typeAliases>

</configuration>
